p {
    margin: 8px;
    font-size: 30px;
    color: rgb(35, 35, 18);
}
div {
    background-color: yellowgreen   ;
    text-align: center;
    justify-content: center; 
    height: 40px;   
    padding: 10px;
    
}